*{
    padding: 0%;
    margin: 0%;
    box-sizing: border-box;
}
body{
    background-color: rgb(233, 233, 233);
}
.container{
    background-color: aliceblue;
    font-size: 15px;
    text-align: center;
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.3);
    color: cadetblue;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
p{
    color: black;
    background-color: aliceblue;
    width: 10%;
    color: cadetblue;
    text-align: center;
    font-size: 20px;
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.3);
    border-radius: 4px;
    border: none;
    margin-left: 90%;
}
.pointInitial{
    background-color: rgb(128, 157, 182);
    font-size: 20px;
    margin: 20px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    border: none;
    padding: 5px;
    border-radius: 5px;
    color: azure;
    margin-left: 43%;
    cursor: pointer;
}
.pointInitial:hover{
    background-color: rgb(148, 184, 214);
}
.pointPause{
    background-color: rgb(128, 157, 182);
    font-size: 20px;
    margin: 20px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    border: none;
    padding: 5px;
    border-radius: 5px;
    color: azure;
    cursor: pointer;
}
.pointPause:hover{
    background-color: rgb(148, 184, 214);
}
.pointExit{
    background-color: rgb(128, 157, 182);
    font-size: 20px;
    margin: 20px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    border: none;
    padding: 5px;
    border-radius: 5px;
    color: azure;
    cursor: pointer;
}
.pointExit:hover{
    background-color: rgb(148, 184, 214);
}